<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do You Have What It Takes?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="question-container">
        <h1>Do you have what it takes?</h1>
        <div class="options">
            <button id="yesButton">Yes</button>
            <button id="noButton">No</button>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
